@keyframes dialogAnim{
	from{ opacity: 0;}
	to{opacity: 1;}
}
.dialog{
	border: none;
	padding: 0;
	background: none;
	opacity: 0;
	animation: dialogAnim var(--anim-time) forwards;
	box-sizing: border-box;
}

.dialog::backdrop{
	background-color: #00000095;
	/*backdrop-filter: blur(1px);*/
	opacity: 0;
	animation: dialogAnim 1s forwards;
}
.dialog__container{
	min-width: 320px;
	max-width: 400px;
	height: 100%;
	padding: var(--padding-content);
	display: flex;
	flex-flow: column nowrap;
	align-items: space-between;
	gap: 2rem;
	background-color: var(--bg-color);
	border-radius: var(--bdr-rd);
	border: 2px solid var(--c-details);
}
.dialog__top{
	display: flex;
	justify-content: space-between;
}
.dialog__title{
	letter-spacing: unset;
	font-weight: 500;
	font-size: var(--font-xlarge);
}
.dialog__top button{
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	color: var(--c-text);
}
.dialog__top button:hover{
	background-color: var(--c-hover);
}

.dialog__input__section label{
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	opacity: 0;
}
.dialog__input__section{
	display: flex;
	flex-flow: column nowrap;
	gap: 0.4rem;
}
.dialog__input__section input:hover,
.dialog__input__section input:focus{
	background-color: var(--c-hover);
}
.input__task, .date__task{
	color: var(--c-text);
	padding: 0.8rem;
	font-size: var(--font-normal);
	outline: none;
	background-color: var(--c-input-bg);
	border: 1px solid var(--c-details);
	border-radius: var(--bdr-rd);
}
.input__task:invalid{
	border-left: 2px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: crimson;
}
/*input.date__task{
	/*padding: 0.4rem;
	font-size: var(--font-small);
} */
.dialog__input__title{
	font-weight: 400;
	font-size: var(--font-large);
	color: var(--c-text);
}
.dialog__radio__section{
	display: flex;
	justify-content: flex-start;
	gap: 0.8rem;
	flex-flow: row wrap;
}
.container__radios{
	position: relative;
	width: 10.2rem;
	height: 3.2rem;
}
.container__radios label{
	z-index: 2;
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	justify-content: left;
	padding-left: 2.8rem;
	color: var(--c-text);
	font-size: var(--font-normal);
}
.dialog__radios{
	margin: 0;
	appearance: none;
	position: absolute;
	z-index: 1 ;
	inset: 0;
	border-radius: var(--bdr-rd);
	cursor: pointer;
	border: 1px solid transparent;
	width: 1px;
	transition: width var(--anim-time);
}
.dialog__radios::before{
	content: "";
	position: absolute;
	left: 0.4rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.dialog__radios:hover{
	width: 100%;
	background-color: var(--c-hover);
}
.normal::before{
	background-color: var(--category-normal-color);
}
.job::before{
	background-color: var(--category-job-color) ;
}
.learn::before{
	background-color: var(--category-learn-color) ;
}
.personal::before{
	background-color: var(--category-personal-color) ;
}
.home::before{
	background-color: var(--category-home-color) ;
}
.projects::before{
	background-color:  var(--category-projects-color);
}
.urgent::before{
	background-color:  var(--category-urgent-color);
}
.leisure::before{
	background-color:  var(--category-leisure-color);
}
.dialog__radios:checked{
	width: 100%;
	border-color: var(--c-details);
	background-color: var(--c-hover);
}
.confirm{
	padding-left: 2rem;
	padding-right: 2rem;
	max-width: max-content;
	margin: 0 auto;
}

@media (width < 400px){
	.dialog{
		inset: 0;
		position: fixed;
		min-width: 100%;
		height: 100%;
		z-index: 10;
		overflow: hidden;
	}
	.dialog:modal{
		max-width: 100%;
		max-height: 100%;
	}
	.dialog__container{
		padding: var(--padding-content);
		border: unset;
		border-radius: unset;
		overflow: hidden;
	}
	.confirm{
		max-width: unset;
		width: 100%;
		padding-block: 1.6rem;
	}
}