.popup__message{
	min-width: 100%;
	border-radius: var(--bdr-rd);
	font-size: var(--font-normal);
	box-shadow: 0 0.4rem 1.6rem -0.4rem var(--c-shadow);
	padding: 1.6rem 1.2rem;
}
.popup__content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1.2rem;
}
[popover]:popover-open{
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}
[popover]{
	min-width: 360px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-100%);
	transition: opacity var(--anim-time), transform var(--anim-time), overlay var(--anim-time) allow-discrete, display var(--anim-time) allow-discrete;
	margin: 1.2rem auto;
	border: unset;
}
@starting-style{
	[popover]:popover-open{
		opacity: 0;
		transform: translateY(-100%);
	}
}
.popup__message .message__icon{
	width: 2.4rem;
	height: 2.4rem;
}
.popup__message.normal__message {
	background-color: var(--message-normal-bg);
	color: var(--c-text)
}
.popup__message.error__message {
	background-color: var(--message-error-bg);
	color: var(--message-error-text);
}