:root {
	font-family: "Inter", system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 62.5%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--bg-color: #070707;
	--c-purple: #52057b;
	--c-primary: #711fba;
	--c-accent: #8829dd;
	--c-text: #f2f3f4;
	--c-text-date: #BEBFC5;
	--c-hover: #44444444;
	--c-details: #77777755;
	--c-input-bg: #0e0e0e;
	--c-shadow: #0a0a0a40;
	/*#E0E0E0 ,#D3D3D3, #CCCCCC, #55555555 */
	/* message popup colors*/
	--message-normal-bg: #0f0f0f;
	--message-error-bg: #320202;
	--message-error-text: crimson;
	/**/
	/*categories colors*/
	--category-normal-color: var(--c-accent);
	--category-job-color: #2a2ae0;
	--category-learn-color: #3aa124;
	--category-personal-color: #ffff00;
	--category-home-color: #f9a406;
	--category-projects-color: #663399;
	--category-urgent-color: #8b0000;
	--category-leisure-color: #40e0d0;
	/**********/
	--padding-content: 1.2rem;
	--min-height-card: 200px;
	--font-normal: 1.6rem;
	--font-small: 1.2rem;
	--font-large: 2rem;
	--font-xlarge: 2.4rem;
	--font-xxlarge: 3rem;
	--bdr-rd: 0.8rem;
	--anim-time: 250ms;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #f7f7f7;
		--c-purple: #52057b;
		--c-primary: #711fba;
		--c-accent: #8829dd;
		--c-text: #070707;
		--c-text-date: #808080;
		--c-hover: #99999944;
		--c-details: #a1a1a155;
		--c-input-bg: #f5f5f5;
		--message-normal-bg: #f4f4f4;
		--message-error-bg: #7a0101;
		--message-error-text: #f4f4f4;
	}
}