:root{
	--normal-bg: #0f0f0f;
	--normal-border: #52057B;
	--normal-text: #fafafa;
	--error-bg: #320202;
	--error-text: crimson;
}
.popup__message{
	min-width: 100%;
	border-radius: var(--bdr-rd);
	font-size: var(--font-normal);
	padding: 1.6rem 1.2rem;
}
.popup__content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1.2rem;
}
[popover]:popover-open{
	opacity: 1;
	transform: translateY(0);
}
[popover]{
	min-width: 360px;
	opacity: 0;
	transform: translateY(-100%);
	transition: opacity 300ms, transform 300ms, overlay 300ms allow-discrete, display 300ms allow-discrete;
	margin: 1.2rem auto;
	border: unset;
}
@starting-style{
	[popover]:popover-open{
		opacity: 0;
		transform: translateY(-100%);
	}
}
.popup__message .message__icon{
	width: 2.4rem;
	height: 2.4rem;
}
.popup__message.normal__message {
	background-color: var(--normal-bg);
	color: var(--normal-text)
}
/*.normal__message p{color: var(--normal-text);} */
.popup__message.error__message {
	background-color: var(--error-bg);
	color: var(--error-text);
}
/*.error__message p{ color: crimson; } */