body, section, main, div,  header, ul, li, span, p{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #070707;
  --c-purple: #52057B;
  --c-primary: #711fba;
  --c-accent: #8829dd;
  --c-text: #D3D3D3;
  --c-hover: #44444444;
  --c-details: #77777755;
  /*#E0E0E0 ,#D3D3D3, #CCCCCC, #55555555 */
  
  /*categories colors*/
  --category-normal-color: var(--c-accent);
  --category-job-color:#2a2ae0;
  --category-learn-color:#3aa124;
  --category-personal-color:#ffff00;
  --category-home-color:#f9a406;
  --category-projects-color:#663399;
  --category-urgent-color:#8b0000;
  --category-leisure-color:#40e0d0;
  /**********/
  --padding-content: 1.2rem;
  --min-height-card: 200px;
  --font-normal: 1.6rem;
  --font-small: 1.2rem;
  --font-large: 2rem;
  --font-xlarge: 2.4rem;
  --font-xxlarge: 3rem;
}
*:hover{
	transition: background 300ms;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--c-text);
}

header{
	width: 100%;
	padding-left: var(--padding-content);
}
h1 {
	padding: 0 0.4rem;
	/*margin-left: var(--padding-content);*/
  font-size: var(--font-xxlarge);
  line-height: 1.1;
}

.container{
	width: 100%;
	display: grid;
	padding: var(--padding-content);
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-template-rows: minmax(var(--min-height-card), auto);
	gap: 0.8rem;
}
.container__cards{
	width: 100%;
	min-height: var(--min-height-card);
	height: fit-content;
	border-radius: 0.8rem;
	padding: 2.4rem 0.8rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.4rem;
	position: relative;
}
.container__cards::after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--c-details);
	height: 0.12rem;
	content: "";

}
.card__top{
	z-index: 2;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color);
}
.button__default{
	outline: none;
	border: none;
	border-radius: 0.8rem;
	background-color: var(--c-primary);
	/*letter-spacing: 0.15em; */
	font-size: var(--font-normal);
	font-weight: 400;
	color: var(--c-text);
	cursor: pointer;
	text-transform: uppercase;
	padding: 0.8rem;
}
.button__default:hover{
	background-color: var(--c-accent);
}
/*.card__button__add{
	
}*/
.cards__title{
	margin: 0;
	font-size: var(--font-xlarge);
	/*letter-spacing: 0.4rem;*/
	color: var(--c-text);
}
.empty__disclaimer{
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	font-size: var(--font-normal);
	height: var(--min-height-card);
}

.task__list{
	list-style: none;
}
/*.task__list li:not(:last-child){ 
	border-bottom: 1px solid dimgray;
}*/
.list__item{
	padding: 0.4rem 0;
	margin: 0.4rem 0;
	max-width: 100%;
}
.item__content{
	padding: 0.8rem 0.4rem 0.8rem 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.2rem ;
	border-radius: 0.8rem;
	transition: all 600ms;
	position: relative;
	z-index: 0;
	cursor: pointer;
	/*opacity: 0; */
	/*transform: translateY(100%);*/
}
/*.item__content::before{
	content: "";
	width: 5px;
	height: 100%;
	background-color: red;
	position: absolute;
	inset: 0;
	z-index: -1;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}*/
@keyframes moveDown{
	0%{
		opacity: 0;
		transform: translateY(-100%);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
.list__item--show{
	animation: moveDown 300ms forwards;
}
.item__content:hover:not(.list__item--done){
	transition: background-color 300ms;
	background-color: var(--c-hover);
}
.list__item--done{
	text-decoration: line-through;
	color: lightgrey;
	background-image: linear-gradient(to left, hsl(120,70%,30%), transparent 70%);
	/*background-color: hsl(120,70%,30%);*/
	/* border-bottom: 2px solid #45eb45df; */
}
.item__data{
	max-width: 80%;
}
.item__data .data__title{
	pointer-events: none;
	user-select: none;
	font-size: var(--font-large);
	line-height: 1.2;
	display: block;
	overflow-wrap: break-word;
}
.item__data p.data__date{
	pointer-events: none;
	user-select: none;
	color: darkgrey;
	font-size: var(--font-small);
}
.data__color{
	width: 10.8rem;
	height: 0.4rem;
	border-radius: 0.4rem;
	margin-block: 0.4rem;
}
.item__action{
	position: relative;
}

.item__action button{
	flex: 1 0 auto;
	padding: 0.4rem;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--c-primary);
	z-index: 3;
	cursor: pointer;
	transition: transform 300ms;
}
.list__item--done .item__action button{
	color: var(--c-text);
}
.item__action button:hover{
	/*color: var(--c-accent);*/
	transition: transform 300ms;
	transform: rotate(90deg);
}
.action__menu{
	z-index: 5;
	font-size: var(--font-normal);
	letter-spacing: 0.1rem;
	position: absolute;
	/*top: 120%;
	right: 0;  */
	min-width: max-content;
	background-color: var(--bg-color);
	box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.3);
	opacity: 0;
	pointer-events: none;
	user-select: none;
}
.action__menu.action__menu--show{
	transition: opacity 300ms;
	opacity: 1;
	pointer-events: auto;
}
.menu__list{
	list-style: none;
	margin: 0;
}
.menu__list li{
	padding: 0.8em;
	display: flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
}
.menu__list li:hover{
	color: var(--c-accent);
	background-color: var(--c-hover);
}
.menu__item__icon{
	pointer-events: none;
	color: currentColor;
	vertical-align: middle;
}
.icon{
	width: 2.6rem;
	height: 2.6rem;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

